
# This file gets installed as $HOME/.pomodororc
# See README.md in the distribution or at
# https://github.com/poorsquinky/pomodoro for complete instructions

# Set the location of the status file
# POMODORO_STATUS_FILE=/tmp/pom_$USER

# CHange the timer duration (minutes)
#POMODORO_MINUTES=25

# Uncomment these if you have trouble with Unicode
#POMODORO_BANG="!"
#POMODORO_SYMBOL="P"
#POMODORO_NBSP=" "

# Enable SSH-based synchronization server
#POMODORO_SSH=server.example.com

# If the local hostname is this, don't perform sync
#POMODORO_NOSYNC_NAME=examplehost

# HTTP read-only synchronization
#POMODORO_STATUS_URL=http://host.example.com/~user/pom

# Enable graphical mode
#POMODORO_GRAPHICAL=0
# Change the graph from vertical to horizontal
#POMODORO_GRAPH_BLOCKS=( ▏ ▎ ▍ ▌ ▋ ▊ ▉ )


